
table{
    height: 350px;
    width: 350px;
    border-collapse: collapse;    
    background-color: #3E3E3E;
}
table td{
    border: 1px solid darkslategray;
    padding: 2px;
}
button{
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    font-weight: bold;
}
.angka{    
    /*background-color: green;*/
    
    color: gray;
}
.operator{
    /*background-color: violet;*/
    color: orange;
}
input{    
    width: 96%;
    height: 100%;
    font-size: 25pt;
    text-align: right;
    background: transparent;
    border: none;
}
footer{
    position: fixed;
    text-align: center;
    bottom: 10px;
    left: 0px;
    width: 100%;
    color: gray;
}